#components-layout-demo-custom-trigger .trigger {
    font-size: 18px;
    line-height: 64px;
    padding: 0 24px;
    cursor: pointer;
    transition: color 0.3s;
    background-color: #3b0e06;
  }
  
  #components-layout-demo-custom-trigger .trigger:hover {
    color: #46080b;
  }
  
  #components-layout-demo-custom-trigger .logo {
    height: 100vh;
    background: rgba(255, 255, 255, 0.2);
    margin: 16px;
  }
  
  .site-layout-background {
    font-size: 18px;
    
   
  }
  .content{
    background: blanchedalmond;
  }
  .layout{
    height: 100vh;
  }
  .logo{
    display: flex;
    justify-content: center;
    color: burlywood;
    margin-top: 20px;
  }
  .menu{
    font-size: 18px;
    margin-top: 20px;
  }
  .trigger{
 color: blanchedalmond;    
 font-size: 20px;

  }